@model Thought
@{
    ViewBag.Title = "Create thought";
    Layout = "_Layout";
}

<h2>Create thought</h2>

<div asp-validation-summary="All"></div>
<form asp-controller="Create" asp-action="Create">
    <div>
        <label asp-for="Thesis"></label>
        <input asp-for="Thesis" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <button type="submit">Create</button>
</form>