<!DOCTYPE html>

<html lang="">
<head>
    <title>@(ViewBag.Title ?? "Cats")</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <base href="~/" />
</head>
<body>
@RenderBody()
<script src="_framework/blazor.server.js"></script>
</body>
</html>