@page
@model LogoutModel

You are logged out

<a asp-controller="Home" asp-action="Index">Home</a>

<a asp-page="Login">Login</a>

@functions
{
    
    public class LogoutModel(SignInManager<IdentityUser> signInManager) : PageModel
    {
        public async Task OnGetAsync()
        {
            await signInManager.SignOutAsync();
        }
    }
    
}
