@page
@{
    Layout = "Shared/_AccountLayout";
}

<p class="text-danger mb-2">Access denied.</p>

<div class="m-2">
    <a href="/" class="btn btn-outline-primary mb-2">Home</a>
    <a asp-page="Login" class="btn btn-outline-secondary mb-1">Log in</a>
    <a asp-page="Logout" class="btn btn-outline-secondary mb-1">Log out</a>
</div>