@model BookInfo[]

@{
    ViewBag.Title = "Books (Admin)";
    Layout = "_Layout";
}

<h2>Books list</h2>

<table class="table table-bordered table-info">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Country</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author?.FullName</td>
            <td>@book.Author?.Country</td>
            <td>
                <div>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-outline-secondary">Edit</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
